<header class="header">
    <div class="navigation">
        <a href="{{ '/' | prepend: site.baseurl_root }}" class="logo">{% t global.headTitle %}</a>
        <ul class="menu">
            {% if site.lang != "fa" %}
            <li class="menu__entry">
                <a href="{{ '/fa' | prepend: site.baseurl_root }}">{% t global.fa %}</a>
            </li>
            {% else %}
            <li class="menu__entry">
                <a href="{{ '/' | prepend: site.baseurl_root }}">{% t global.en %}</a>
            </li>
            {% endif %}
            <li class="menu__entry"><a href="https://cv.saeidakbari.ir" target="_blank">{% t global.resume %}</a></li>
            <!-- <li class="menu__entry"><a href="{{ '/blog' | prepend: site.baseurl_root }}">Blog</a></li> -->
        </ul>
    </div>
    <ul class="social-links">
        {% if site.author.email %}
        <a href="mailto:{{ site.author.email }}" class="social-links__entry" target="_blank">
            <i class="fa fa-envelope-square"></i>
        </a>
        {% endif %}
        {% if site.author.github %}
        <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
            <i class="fa fa-github"></i>
        </a>
        {% endif %}
        {% if site.author.linkedin %}
        <a href="https://in.linkedin.com/in/{{ site.author.linkedin }}" class="social-links__entry" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>
        {% endif %}
        {% if site.author.telegram %}
        <a href="https://t.me/{{ site.author.telegram }}" class="social-links__entry" target="_blank">
            <i class="fa fa-telegram"></i>
        </a>
        {% endif %}
    </ul>
</header>